.mainbody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.custom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
}

.form {
  padding-top: 100px;
}
